$primary: #212121;
$secondary: #999999;
$orange: #F6731C;
$green: #7EB105;
$active: #eefbe0;
$font : 'Arial' ;
$numfont: 'Ubuntu', sans-serif;
$sm: 10px;
$md:12px;
$subtitle:14px;
$title:14px;
$mx:20px;

body{
    font-family :$font,sans-serif;
    color:$primary;
    font-size: $sm;
    
}



#card{
width: 247px;
border: #EBEBEB solid 1px;
flex-direction: column;
border-radius: 3px;

.image-icons{
    height: 24px;
    margin: 13px 16px 4px 16px;
    
 .youtube{
    padding: 5 2;
    width: 24px;
    height: 24px;
 }

 .view{
    padding: 3 2;
    width: 24px;
    height: 24px;
 }


}

.image-container   {
    display : flex;
   img{
       margin:4 auto;
   }
   .color-buttons{
     position: absolute;
     top: 254px;
     left:26px;
     
  }
   button{
    background-color: white;
     border: white 1px solid;
     border-radius: 4px;
     width: 18px;
     height: 18px;
     margin: 8px 2 0;
     
     
 }
  
 .active-color{
    box-shadow: 1px 1px 2px #46c20c, -1px -1px 2px #46c20c,
    -1px 1px 2px #46c20c, 1px -1px 2px #46c20c,;
 }
   .rose{
       background-color: #FFACA7;
   }
  
   .darkgrey{
       background-color: #454545;

   }
  
  
   
 
 }

 .container{
    padding: 15px
}
 .con1{
     display: flex;
     .marks{
        color:$secondary;
         flex:1;
         font-weight: 700;
         display: flex
     }
     .comments{
         display: flex;
         color: $green;
         text-decoration: underline;
         span{
             margin-left: 3px
         }
     }
 }

 .code{
     color:$secondary;
     font-size: $sm;
     padding-top: 10px;
     .number{
        
        text-transform: uppercase;
         color:black;
         font-stretch: ultra-expanded;
         font-family: $numfont
     }
 }

 .instock{
     color: $orange;
     padding: 12 0;
     display: flex;

     .diod{
         margin-right: 8;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: $orange;
         display: inline-block;
     }
     
 }

 .title{
     font-size: $title;
     color: $primary;
     padding-right:  18 
 }

 .option{
            
            list-style-type:none;
            padding: 0;
            margin: 10px 0;
            font-size: $title;
            color: $green;
            display: flex;
            li{
                margin-right:  4px;
                padding :0 px ;
                border-bottom: $green 1px dashed;
            }
            .active{

                padding :1 3    ;
                margin-right: 6px;
                border-bottom: none;
                background-color: $active;
                border-radius: 2px;
                color: $primary;
            }

       
        }
        .price{
            font-size: $sm;
            color:$orange;
            margin-top: 12px;
            .old{
                display: inline-block;
                color:$secondary;
                text-decoration:line-through;
                font-size: $title;
                padding:0;
            }
            .new{

                display: inline-block;
                font-size: $mx;
                font-weight: 900;
                font-family: $numfont;
                margin: 0 5 2 ;
                font-stretch: condensed;
                .sup{
                    left:2px;
                    font-size: $md;
                    height: 0;
                    line-height: 0;
                    vertical-align: baseline;
                    _vertical-align: bottom;
                    position: relative;
                    bottom: 6px;
                }
            
            }
            .diff{
                color: $green;
                font-size: $md+2;
                margin-top: 4px;
                margin-bottom: 5px;
                font-family: $font;
               }
        }

        .actions{
            border-top: #EBEBEB 1px solid;
            display: flex;
            input{
                margin: 10px auto;
                box-sizing: border-box;
                justify-content: space-between
            }
        }

        .focus{
            .discount{
                margin: 18px 0;
                input{
                    margin : 0;
                    padding: 0;
                }
                display: flex;
                .discount-wrap{
                    margin: 0 5px;
                    .discount-title{
                        margin: 4px 0;
                        font-weight: 600;
                        color:$primary;
                        font-size:$subtitle;
                    }
                    .discount-content{
                        font-weight: 600;
                        color:$orange;
                        font-size:$md;
                    }
                }
            }
        }

        

        .quickchars{
            font-size:$subtitle;
            .chars-head{
                font-weight: 600;
                color:$primary;
            }
        
            
            ul{
                list-style-image: url(./public//svg/bullet.svg);
                color:$secondary;
                padding:0; 
                font-weight: 300;
                margin: 5 14 17 ;
                
            }
        }
 
 
}


#card:hover{
    border: 1px solid #7EB105;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
border-radius: 3px;
}

.hidden{
   display: none
}